body {
  min-height: 100%;
  margin: 0;
  font-size: 15px;
  padding: 0;
  overflow: scroll;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 4px solid #2e10b4;
}

th, td {
  text-align: left;
  padding: 8px;
  border: 4px solid #363636;
}

tr:nth-child(even){background-color: #ffffff}